html {
    margin: 0;
}
body {
    position: relative;
    padding-top: 69px;
    background: white;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-family: 'Lato', sans-serif !important;
    /*font-family: 'Open Sans' !important;*/
    color: #333;
}
.scrolltop {
    margin-right: 15px;
}
/*.scrolltop {
    background-color: #F1F1F1;
    border: 1px solid darkGray;
    border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    display: none;
    height: 36px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    right: 2%;
    top: 50%;
    width: 36px;
    z-index: 33;
}
.scrolltop span {
    position: relative;
    top: 7px;
    left: 10px;
}*/

/* Old versions of IE patches */
.old-ie #hero .carousel-inner .row {
    padding-left: 55px;
}
.old-ie #box_login .box .social a.face_login span.text {
    font-size: 16px;
    margin: 8px 0 0 10px;
}
.old-ie .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}


/* Bootstrap overrides */

.btn-success {
  background-color: #5bb75b;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #8fb450, #648a43);
  background-image: -ms-linear-gradient(top, #8fb450, #648a43);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb450), to(#648a43));
  background-image: -webkit-linear-gradient(top, #8fb450, #648a43);
  background-image: -o-linear-gradient(top, #8fb450, #648a43);
  background-image: linear-gradient(top, #8fb450, #648a43);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'8fb450, endColorstr='#'648a43, GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #648a43;
  color: #fff;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.carousel-control {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 30px;
  height: 30px;
  margin-top: -20px;
  font-size: 35px;
  font-weight: bold;
  line-height: 23px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  filter: alpha(opacity=50);
  opacity: 1;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #81A74C;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #92C65F; 
}


/* Navbar
-------------------------------------------------- */
.navbar-fixed-top {
    margin-bottom: 0;
}
.navbar-fixed-top.scroll {
    opacity: 0.96;
}
.navbar-inner {
    border-bottom: 0 none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    filter: none;
    padding: 7px 0 8px 0;
    /*background: none repeat scroll 0 0 #242b35;*/
    background: url("../img/layout/nav_bg_blue3.jpg") 0 0 repeat;
    /*background: #394755;*/
}
.navbar .brand {
    font-size: 28px;
    color: #FFFFFF;/*#DFDFE5;*/
    font-weight: 800;
    text-shadow: none;
    text-rendering: optimizelegibility;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
    margin-left: 5px;
}
.navbar .nav.pull-right {
    top: 10px;
    /*margin-right: 40px;*/
}
.navbar .nav > li > a {
    color: #D6DFE5;/*#F8F8F8;*/
    font-size: 17px;
    font-weight: normal;
    text-shadow: none;
    /*font-family: 'Open Sans';*/
    /* Text hover transition code below: */
    /*-webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;*/
}
.navbar .nav > li > a.active {
    color: #FFFFFF;
}
.navbar .nav > li > a:hover {
    color: #FFFFFF;/*#ccc;*/    
}
.navbar .nav > li.active > a,
.navbar .nav > li.active:hover > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    padding-bottom: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    background: none;
    color: #fff;
}
.btn-dropnav {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
    display: none;
}
.btn-dropnav .icon-bar {
    background-color: #F5F5F5;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);   
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    width: 18px;
}
.btn-dropnav .icon-bar + .icon-bar {
    margin-top: 3px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background: none;
    color: #fff;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
    background-color: #475B77 !important;
    text-decoration: none;
    color: #ffffff;
    background-image: -moz-linear-gradient(top, #475B77, #475B77);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#475B77), to(#475B77));
    background-image: -webkit-linear-gradient(top, #475B77, #475B77);
    background-image: -o-linear-gradient(top, #475B77, #475B77);
    background-image: linear-gradient(to bottom, #475B77, #475B77);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#475B77', endColorstr='#475B77', GradientType=0);
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #5FAF08;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 979px) {
    .nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
        background: none !important;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        color: #ccc;
    }
}


/* Index
-------------------------------------------------- */

/* carousel section */
#hero {
    padding-top: 50px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 1%, #f9f9f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 1%,#f9f9f9 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 1%,#f9f9f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
    height: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #d1d2d4;
    box-shadow: 0px 3px 8px 0px #e7e7e7;
}
#hero .carousel-control.left {
    left: 0px;
    padding-right: 1px;
}
#hero .carousel-control.right {
    right: 0px;
}
#hero .carousel-inner .item img {
    max-height: 349px;
}
#hero .carousel-inner .item.slide3 img {
    display: block;
    margin: 0 auto;
}
#hero .item h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
}
#hero .item p {
    font-size: 13px;
    color: #4E4E4E;
    line-height: 20px;
}
#hero .item .btn {
    margin-top: 10px;
    font-weight: bolder;
}
/* introduction heading section*/
#intro {
    text-align: center;
    margin-top: 50px;
}
#intro h1 {
    width: 55%;
    font-size: 28px;
    margin: 0 auto;
    color: #252B34;
    font-weight: normal;
    text-shadow: white 2px 2px 1px;
}
/* features section */
#features { }
#features .container { }
#features .feature img.thumb {
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #bcbcbc;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear; 
}
#features .feature a:hover h3 {
    color: #005580 !important;
}
#features .feature a:hover img.thumb {
    box-shadow: 0px 0px 7px 1px #005580/*#8cbe5b*/;
}
#features .feature img.thumb:hover {
    box-shadow: 0px 0px 7px 1px #005580/*#8cbe5b*/;
}
#features .feature h3 {
    font-size: 22px;
    font-weight: bolder;
    color: #252b34;
    padding-top: 25px;
    display: inline;
    /*text-align: center;*/
    padding-left: 35px;
}
#features .feature h3 i {
    margin-right: 5px;
    position: relative;
    top: 2px;
}
#features .feature p.description {
    color: #44474D;
    width: 85%;
    padding-left: 35px;
}
#features .projects .feature p.description {
    color: #44474D;
    width: 100%;
    padding-left: 0px !important;
    font-weight: normal;
}
#features .projects .feature h3 {
    font-size: 22px;
    font-weight: bolder;
    color: #252b34;
    margin-top: 25px;
    /*text-align: center;*/
    padding-left: 0px;
}
#features .feature .btn {
    margin-top: 15px;
    margin-left: 35px;
}

div.project_summary h3.intro {
    margin-bottom: 40px;
}

div.project_summary div.project_nav {
    margin-top: -6px;
    padding-top: 10px;
    padding-bottom: 3px;
    
    /*background: rgb(204, 204, 204);*/
    background: rgb(214, 223, 229);
    /*background: rgba(214, 223, 229, 0.55);*/
    background: rgba(102, 102, 102, 0.08);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88CCCCCC, endColorstr=#88CCCCCC);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#88CCCCCC, endColorstr=#88CCCCCC)";
}

div.project_summary div.bottom_project_nav {
    padding-top: 7px !important;
    padding-bottom: 6px !important;
}

div.project_summary div.prev_project {
    float: left;
    margin-left: 15px;
    line-height: 15px;
    vertical-align: middle;
    font-size: 18px;
}

div.project_summary div.prev_project img {
    height: 15px;
    margin-right: 7px;
    margin-bottom: 6px;
}

div.project_summary div.all_projects {
    clear: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 15px;
    font-size: 18px;
}

div.project_summary div.all_projects div {
    width: 313px;
    max-width: 213px;
    max-height: 36px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}

div.project_summary div.all_projects span {
    width: 100%;
}

div.project_summary div.next_project {
    clear: none;
    float: right;
    margin-right: 15px;
    text-align: right;
    line-height: 15px;
    vertical-align: middle;
    font-size: 18px;
}

/*div.project_summary div.next_project span {
    margin-right: 60px;
}*/

div.project_summary div.next_project img {
    height: 15px;
    margin-left: 0px;
    margin-bottom: 6px;
}

div.project_summary hr.nav_hr {
    margin-top: 0px;
    margin-bottom: 6px;
}

div.no_top_margin {
    margin-top: 0px !important;
}

div.project_summary hr.bottom_nav_hr {
    margin-top: 50px;
    margin-bottom: 6px;
}

div.project_summary div.content hr {
    margin-right: 60px;
}

div.project_summary div.title_row h2 {
    margin-top: 30px;
}

div.project_summary div.content div {
    margin-bottom: 40px;
}

div.project_summary div.left_col div {
    padding-right: 15px;    
}

div.project_summary div.right_col div {
    padding-left: 15px;
}

div.project_summary div.banner_image {
    text-align: center;
    margin-bottom: 25px !important;
}

div.project_summary div.banner_image img {
    /*width: 100%;*/
    border: 1px solid #666666;
}

div.project_summary div.no_border img {
    border: 0px !important;
}

div.project_summary div.top_bottom_borders img {
    border-top: 1px !important;
    border-bottom: 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

div.project_summary div.section_image {
    text-align: center;
    margin-top: 30px;
}

div.project_summary h4 {
    font-size: 22px;
    font-weight: 800;
    margin-top: 0px;
    /*margin-bottom: 12px;*/
    text-align: left;
}

div.project_summary div.description {
    max-width: 800px;
    margin: auto;
}

div.project_summary span.description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: -3px;
    /*text-align: justify;
    text-justify: inter-word;*/
}

div.project_summary div.content {
    margin-left: 110px;
}

div.project_summary div.sidebar {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(204, 204, 204);
    /* RGBa with 0.6 opacity */
    background: rgba(102, 102, 102, 0.15);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#88CCCCCC, endColorstr=#88CCCCCC);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#88CCCCCC, endColorstr=#88CCCCCC)";
    
    padding: 20px;
    margin-right: 80px;
    margin-bottom: 120px;
}

div.project_summary div.sidebar div {
    margin-bottom: 40px;
}

div.project_summary div.sidebar div.bottom,
div.project_summary div.sidebar div.feature  {
    margin-bottom: 0px !important;
}

div.project_summary div.project_summary_section {
    margin-bottom: 75px !important;
}

div.project_summary h4.video_header {
    margin-bottom: 12px;
}

div.project_summary span.download_link {
    margin-top: -5px;
    margin-right: 20px;
    font-size: 18px;
    line-height: 18px;
    display:inline;
}

div.project_summary span.download_link img {
    width: 18px;
    margin-right: 8px;
    margin-top: 2px;
}

div.project_summary span.download_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}

div.project_summary span.download_link span.filesize {
    color: #7F8387;
}

/* External Links section */
div.project_summary span.external_links li {
    line-height: 24px;
}

div.project_summary span.jump_link img {
    margin-top: -7px;
    margin-right: 6px;
    height: 16px;
}

div.project_summary span.jump_link i {
    vertical-align: text-bottom;
}

div.project_summary span.jump_link a {
    color: #333333;
    text-decoration: none;
}

div.project_summary span.jump_link a:hover {
    color: #005580;
    text-decoration: underline;
}

div.project_summary .affiliation {
    position: relative;
    margin-left: 0px !important;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    min-height: 65px;
    display:table;
}

div.project_summary .affiliation_name {
    margin-bottom: 15px !important;
    display: table-cell;
    vertical-align: middle;
}

div.project_summary .affiliation div.icon img {
    border-radius: 100px;
    box-shadow: 0px 0px 0px 0px #bcbcbc;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -ms-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
}
div.project_summary .affiliation a:hover h4 {
    color: #005580 !important;
}
div.project_summary .affiliation a:hover img {
    box-shadow: 0px 0px 7px 1px #005580;
}
div.project_summary .affiliation .icon img:hover {
    box-shadow: 0px 0px 7px 1px #005580;
}

div.project_summary .affiliation h4 {
    font-size: 18px;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 20px;
    color: #333333;
}

div.project_summary .affiliation a {
    color: inherit;
    text-decoration: none;
    display:table;
    height: 65px;
}

div.project_summary .affiliation a:hover {
    color: #005580;
    text-decoration: underline;
}

div.project_summary .feature {
    /*color: #333333;*/
}

div.project_summary .feature img.thumb {
    margin-top: 12px !important;
    margin-bottom: 6px !important;
    width: 264px;
}

div.project_summary .feature img.project_type {
    height: 20px;
}

div.project_summary .feature span {
    font-weight: bold;
    font-size: 20px !important;
}

div.project_summary .feature a {
    color: inherit;
}

div.project_summary .feature a:hover {
    color: #005580;
    text-decoration: underline;
}

div.project_summary hr.first_bottom_row {
    margin-top: -20px;
}

div.project_summary li.publication span.pdf_link {
    display: inline;
    margin-top: -3px;
}

div.project_summary li.publication span.dl_link {
    display: inline;
    margin-top: -3px;
}

div.project_summary li.publication span.authors {
    display: block;
}

div.project_summary h3.section_header {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 60px;
}

div.project_summary div.press_item {
    position: relative;
    margin-left: 0px !important;
    margin-bottom: 30px !important;
    margin-top: 15px !important;
    min-height: 65px;
    display:table;
}

div.project_summary div.press div.bottom {
    margin-bottom: 15px !important;
}

div.project_summary div.press_item div.icon {
    float: left;
    width: 130px;
    text-align: center;
    margin-right: 35px;
}

div.project_summary div.press_item div.icon a {
    vertical-align: middle;
    line-height: 100px; 
}

div.project_summary div.press_item div.quote {
    display: table-cell;
    vertical-align: middle;
}

div.project_summary div.press_item h4 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 8px;
    line-height: 20px;
    color: #333333;
}

div.project_summary div.press_item p {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 0px;
}

div.project_summary div.press_item a {
    color: inherit;
    text-decoration: none;
}

div.project_summary div.press_item a:hover {
    color: #005580;
    text-decoration: underline;
}

ol.publications h2 {
    margin-left: -35px !important;
}

li.publication {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
}

li.publication span {
    width: auto;
    text-rendering: optimizelegibility;
}

li.publication span.title {
    font-weight: 800;
}

li.publication span.authors {
    font-size: 20px;
    /*line-height: 26px;*/
}
li.publication span.authors em {
    font-style: normal;
    font-weight: 700;
    /*color: #8cbe5b;*/
}

li.publication span.venue {
    font-size: 18px;
    color: #7F8387;
    /*line-height: 28px;*/
    margin-bottom: -8px;
    display:block;
}

li.publication span.venue small {
    font-size: 14px;
    vertical-align: baseline;
    margin-left: 10px;
}

li.publication span.authors a {
  color: inherit;
  text-decoration: none;
}
li.publication span.authors a:hover {
  color: #005580;
  text-decoration: underline;
}
li.publication span.venue a {
  color: inherit;
  text-decoration: none;
}
li.publication span.venue a:hover {
  color: #005580;
  text-decoration: underline;
}

li.publication span.pdf_link {
    margin-top: -10px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display:inline;
}
li.publication span.pdf_link img {
    margin-right: 6px;
    margin-top: 2px;
}
li.publication span.pdf_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}

li.publication span.project_link {
    margin-top: -10px;
    margin-left: 20px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display: inline;
}
li.publication span.project_link img {
    margin-right: 6px;
    margin-top: 2px;
}
li.publication span.project_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}

li.publication span.dl_link {
    margin-top: -10px;
    margin-left: 19px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display: inline;
}
li.publication span.dl_link img {
    margin-right: 4px;
    margin-top: 0px;
}
li.publication span.dl_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}

div.courses {
    margin-bottom: 40px;
}
div.course {
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
}
div.course_icon {
    /*float: left;*/
    display: block;
    position: absolute;
    margin-top: 8px;
    margin-right: 25px;
}
div.course_summary {
    margin-left: 80px;
}
div.course span {
    width: auto;
    text-rendering: optimizelegibility;
}
div.course span.title {
    font-weight: 800;
}
div.course span.position {
    font-size: 20px;
    /*line-height: 26px;*/
}
div.course span.description {
    font-size: 18px;
    color: #7F8387;
    /*line-height: 28px;*/
    margin-bottom: -3px;
    text-align: justify;
    text-justify: inter-word;
}

div.course span.website_link {
    margin-top: -5px;
    margin-right: 20px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display:inline;
}
div.course span.website_link img {
    margin-right: 6px;
    margin-top: 2px;
}
div.course span.website_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}
div.course span.directory_link {
    margin-top: -5px;
    margin-right: 20px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display:inline;
}
div.course span.directory_link img {
    margin-right: 6px;
    margin-top: 2px;
}
div.course span.directory_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}
div.course span.bulletin_link {
    margin-top: -5px;
    font-size: 18px;
    color: #7F8387;
    line-height: 18px;
    display:inline;
}
div.course span.bulletin_link img {
    margin-right: 6px;
    margin-top: 2px;
}
div.course span.bulletin_link span {
    vertical-align: middle;
    display:inline;
    line-height: 15px;
}


/* footer section */
#footer {
    background-color: #25383C;
    min-height: 30px;
    margin-top: 50px;
    color: #D6DFE5;/*#F8F8F8;*/
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
#footer h3 {
    float: left;
}
#footer .copyright {
    text-align: center !important;
    line-height: 30px;
    /*width: 100%;*/
}
#footer div.social_icons {
    min-height: 30px;
}
#footer .social {
    margin-top: 3px;
    float: left;
    margin-left: 20px;      
    /*border-radius: 22px;*/
}
#footer .left_icon {
    margin-left: 15px;
}
#footer .social img {
    height: 24px;
}
#footer .back_to_top {
    text-align: right;
    font-size: 16px;
    line-height: 30px;
}
#footer .back_to_top span {
    cursor: pointer;
}
#footer .social:hover {
    /*background-color: #1A1E25;*/
}
#footer .social.fb {
    /*padding: 9px 15px 3px 15px;*/
}
#footer .social.tw {
    /*margin-top: 10px;*/
    /*padding: 11px 8px 5px 8px;*/
}
#footer .social.yt {
    /*padding: 8px 8px 5px 8px;*/
    /*margin-top: 10px;*/
}
#footer .copyright .back_to_top p {
    /*margin-top: 20px;*/
}

/* section header */
.section_header {
    text-align: center;
    font-weight: 800;
    margin-top: 80px;
    position: relative;
    margin-bottom: 40px;
}
.section_header.left span {
    margin-left: 0px;
    text-align: left;
}
.section_header hr {
    border-top: 1px solid #BEC0C3;
    border-bottom: 2px solid white;
    width: 36%;
    position: absolute;
}
.section_header hr.left { }
.section_header hr.right {
    right: 0px;
    top: 0px;
}
.section_header span {
    width: 27%;
    display: block;
    margin: 0 auto;
}
.section_header small {
    margin-left: 20px;
    font-size: 16px;
    color: #7f8387;
    display: none;
}
.subsection_header {
    text-align: center;
    font-weight: 750;
    margin-top: 80px;
    position: relative;
    margin-bottom: 40px;
}

/* Responsive
-------------------------------------------------- */

/* Large desktop */
@media (min-width: 1200px) {
    div.project_summary div.content {
        margin-left: 110px !important;
    }
    div.project_summary div.sidebar {
        margin-right: 80px !important;
    }
    div.project_summary div.content hr {
        margin-right: 60px !important;
    }
    div.project_summary div.project_nav {
        margin-left: 80px !important;
        margin-right: 80px !important;
    }
    div.project_summary iframe.youtube_video {
        width: 270px !important;
        height: 203px !important;
    }
    div.project_summary .affiliation .icon {
        width: 65px !important;
        height: 65px !important;
        background-color: white;
        border-radius: 100px !important;
        position: absolute; 
    }
    div.project_summary .affiliation h4,
    div.project_summary .affiliation p {
        margin-left: 80px !important;
        width: 190px !important;
    }
    div.project_summary h3.section_header {
        margin-right: 60px;
    }
    .section_header small {
        display: inline-block;
    }
    #pricing .price_wrapper.lite {
        float: right;
        right: -30px;
    }
    #pricing .price_wrapper.standard {
        left: -30px;
    }
    #hero .carousel-inner .item.slide1 .span6 img {
        margin-left: 15px;
    }
    #hero .carousel-inner .item.slide1 .span4 {
        padding-left: 30px;
    }
    #hero .carousel-inner .item.slide2 .span6 img {
        margin-left: 30px;
    }
    #hero .item h1 {
        font-size: 30px;
        margin-top: 40px;
        margin-left: 20px;
    }
    #hero .item p {
        font-size: 16px;
        line-height: 24px;
        margin-left: 20px;
    }
    #hero .item .btn {
        margin-top: 25px;
        margin-left: 20px;
        font-size: 18px;
    }
    footer .contact_us input[type="text"], 
    footer .contact_us textarea{
        width: 270px;
    }
    footer .contact_us button[type="submit"] {
        margin-left: 300px;
    }
}
@media (min-width: 980px) {
    div.project_summary div.content {
        margin-left: 77px;
    }
    div.project_summary div.sidebar {
        margin-right: 55px;
    }
    div.project_summary div.content hr {
        margin-right: 32px;
    }
    div.project_summary div.project_nav {
        margin-left: 57px;
        margin-right: 55px;
    }
    div.project_summary div.prev_project,
    div.project_summary div.next_project {
        width: 190px;
    }
    div.project_summary iframe.youtube_video {
        width: 220px;
        height: 150px;
    }
    div.project_summary .affiliation .icon {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 100px;
        position: absolute; 
    }
    div.project_summary .affiliation h4,
    div.project_summary .affiliation p {
        margin-left: 72px;
    }
    div.project_summary h3.section_header {
        margin-right: 60px;
    }
    div.project_summary div.project_nav div.prev_project span.img_span {
        float: left;
        width: 17px;
        margin-left: 0px;
        margin-right: 7px;
        clear: none;
    }
    div.project_summary div.project_nav div.prev_project span.text_span {
        float: left;
        clear: none;
        margin-left: 0px;
    }
    div.project_summary div.project_nav div.next_project span.img_span {
        float: right;
        width: 17px;
        margin-left: 7px;
        clear: none;
    }
    div.project_summary div.project_nav div.next_project span.text_span {
        float: right;
        clear: none;
    }
    #pricing .price_wrapper.pro {
        position: relative;
        top: -20px;
        height: 420px;
        z-index: 9;
        box-shadow: 0px 0px 5px 4px #E8E8E8;
    }
    #hero .carousel-inner .item {
        padding: 0px 70px;
    }
    .navbar .nav .btn-header {
        background: #414A57;
        background: -moz-linear-gradient(top, #414A57 0%, #292f38 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#414A57), color-stop(100%,#292f38));
        background: -webkit-linear-gradient(top, #414A57 0%,#292f38 100%);
        background: -o-linear-gradient(top, #414A57 0%,#292f38 100%);
        background: -ms-linear-gradient(top, #414A57 0%,#292f38 100%); 
        background: linear-gradient(to bottom, #414A57 0%,#292f38 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414A57', endColorstr='#292f38',GradientType=0 );
        border: 1px solid #13161b;
        border-radius: 6px;
        display: inline-block;
        height: 10px;
        line-height: 8px;
        position: relative;
        top: 4px;
        margin-left: 8px;
    }
    .navbar .nav .btn-header:hover {
        background: #545F6D;
        background: -moz-linear-gradient(top, #545F6D 0%, #303946 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#545F6D), color-stop(100%,#303946));
        background: -webkit-linear-gradient(top, #545F6D 0%,#303946 100%);
        background: -o-linear-gradient(top, #545F6D 0%,#303946 100%);
        background: -ms-linear-gradient(top, #545F6D 0%,#303946 100%); 
        background: linear-gradient(to bottom, #545F6D 0%,#303946 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545F6D', endColorstr='#303946',GradientType=0 );
    }
}
@media (max-width: 979px) {
    /*div.project_summary div.content {
        margin-left: auto;
    }
    div.project_summary div.sidebar {
        margin-right: auto;
    }*/
    body {
        padding-top: 0px;
    }
    /*div.project_summary div.content hr {
        margin-right: auto;
    }*/
    div.project_summary h3.section_header {
        margin-right: 60px;
    }
    .section_header {
        margin-top: 60px;
    }
    .section_header small {
        display: none;
    }
    #pricing .price_wrapper {
        margin: 0 auto;
        margin-bottom: 20px !important;
    }
    #hero .item h1 {
        font-size: 18px;
        line-height: 18px;
    }
    #hero .carousel-inner .item.slide2 img {
        margin-top: 20px;
    }
    #testimonials .phrases_wrapper .phrase .pic .position {
        display: block;
    }
    #footer {
        margin-top: 20px;
    }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    div.project_summary div.content {
        margin-left: 10px;
        width: 462px;
    }
    div.project_summary div.sidebar {
        margin-right: -11px;
        width: 214px;
    }
    #intro h1 {
        width: 80%;
    }
    div.project_summary div.content hr {
        width: 745px;
        margin-right: auto;
    }
    div.project_summary div.project_nav {
        margin-left: -10px;
        margin-right: -11px;
        margin-top: 0px;
    }
    div.project_summary div.prev_project,
    div.project_summary div.next_project {
        width: 190px;
    }
    div.project_summary div.project_nav div.prev_project span.img_span {
        float: left;
        width: 17px;
        margin-left: 0px;
        margin-right: 7px;
        clear: none;
    }
    div.project_summary div.project_nav div.prev_project span.text_span {
        float: left;
        clear: none;
        margin-left: 0px;
    }
    div.project_summary div.project_nav div.next_project span.img_span {
        float: right;
        width: 17px;
        margin-left: 7px;
        clear: none;
    }
    div.project_summary div.project_nav div.next_project span.text_span {
        float: right;
        clear: none;
    }
    div.project_summary hr.bottom_nav_hr {
        margin-bottom: 0px;
    }
    div.title_row div {
        width: 620px;
        margin-left: 72px;
    }
    div.project_summary iframe.youtube_video {
        width: 214px;
        height: 150px;
    }
    div.project_summary .affiliation .icon {
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 100px;
        position: absolute; 
    }
    div.project_summary .affiliation h4,
    div.project_summary .affiliation p {
        margin-left: 72px;
    }
    div.project_summary div.content h3.section_header {
        width: 745px;
    }
    div.project_summary div.listing {
        width: 620px;
        margin-left: 72px;
    }
    div.project_summary h3.section_header {
        margin-right: auto;
    }
    #features .feature h3 {
        padding-left: 0px;
    }
    #features .feature p.description {
        padding-left: 0px;
    }
    #features .feature .btn {
        margin-left: 0px;
    }
    #footer .contact_us button[type="submit"] {
        margin-left: 0px;
    }
    #hero { }
    #hero .carousel-control.left {
        left: -55px;
    }
    #hero .carousel-control.right {
        right: -15px;
    }
    #hero .item .span4 {
        margin-left: 50px;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    div.project_summary div.content {
        margin-left: auto;
    }
    div.project_summary div.sidebar {
        width: 310px;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    div.project_summary div.project_nav {
        margin-top: 0px;
        padding-bottom: 8px;
    }
    div.project_summary div.prev_project,
    div.project_summary div.next_project {
        width: 152px;
    }
    div.project_summary div.all_projects {
        line-height: 18px;
        height: 37px;
        display: table;
    }
    div.project_summary div.all_projects span {
        /*height: 37px;*/
        display: table-cell;
        vertical-align: middle;
    }
    div.project_summary div.project_nav div.prev_project span.img_span {
        float: left;
        width: 17px;
        margin-top: 9px;
        margin-left: 0px;
        margin-right: 8px;
        clear: none;
    }
    div.project_summary div.project_nav div.prev_project span.text_span {
        float: left;
        clear: none;
        width: 70px;
        line-height: 18px;
    }
    div.project_summary div.project_nav div.next_project span.img_span {
        float: right;
        width: 17px;
        margin-top: 9px;
        margin-left: 8px;
        clear: none;
    }
    div.project_summary div.project_nav div.next_project span.text_span {
        float: right;
        clear: none;
        width: 70px;
        line-height: 18px;
    }
    div.project_summary iframe.youtube_video {
        width: 270px;
        height: 203px;
    }
    #intro h1 {
        width: 90%;
    }
    div.project_summary div.content hr {
        margin-right: auto;
    }
    div.title_row div {
        width: auto;
        margin-left: auto;
    }
    div.project_summary .affiliation .icon {
        width: 65px;
        height: 65px;
        background-color: white;
        border-radius: 100px;
        position: absolute; 
    }
    div.project_summary .affiliation h4,
    div.project_summary .affiliation p {
        margin-left: 80px;
        width: 190px;
    }
    div.project_summary hr.bottom_nav_hr {
        margin-bottom: 0px;
    }
    div.project_summary h3.section_header {
        margin-right: auto;
    }
    #hero {
        padding: 50px 20px 20px 20px;
        margin-right: -20px;
        margin-left: -20px;
        height: auto;
    }
    #hero .carousel-inner .item {
        padding: 0px 70px;
    }
    #hero .item img {
        /*display: none;*/
        width: 240px;
        display: block;
        margin: 0 auto;
    }
    #hero .carousel-inner .item .btn {
        font-size: 13px;
        padding: 7px 10px;
    }
    #footer {
        margin-right: -20px;
        margin-left: -20px;
    }
    #features .feature .btn {
        margin-top: 8px;
    }
    #features .feature {
        margin-bottom: 30px;
    }
    #testimonials .phrases_wrapper .phrase > p {
        width: 100%;
        font-size: 18px;
    }
    #testimonials .phrases_wrapper .phrase .pic {
        float: left;
        margin-top: 8px;
        font-size: 13px;
    }
    #footer .container {
        padding: 0px 20px;
    }
    #footer .blog_post .img-circle {
        float: left;
        margin-right: 20px;
    }
    #footer .copyright .copy {
        float: left;
    }
    #footer .copyright .copy p {
        margin-top: 0px;
    }   
    #footer div.social_icons {
        margin: auto;
    }
    #footer div.social_icons_inner {
        width: 156px; /* == 24 + [(20+24) * 3] */
        margin-left: auto;
        margin-right: auto;
    }
    #footer .left_icon {
        margin-left: 0px;
    }
    #footer .copyright {
        text-align: center !important;
        min-height: 30px;
        margin-top: 10px;
        /*width: 100%;*/
    }
    #footer .back_to_top {
        margin-top: 10px;
        text-align: center;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    div.project_summary div.content {
        margin-left: auto;
    }
    div.project_summary div.sidebar {
        margin-right: auto;
    }
    .section_header {
        margin-top: 30px;
    }
    .section_header span {
        width: auto;
    }
    div.project_summary div.content hr {
        margin-right: auto;
    }
    div.project_summary h3.section_header {
        margin-right: auto;
    }
    #intro h1 {
        font-size: 22px;
        line-height: 30px;
    }
    #pricing .price_wrapper {
        width: 321px !important;
    }
    #pricing .price_wrapper .header .price span {
        font-size: 38px;
    }
    #footer .contact_us button[type="submit"] {
        margin-left: 0px;
    }
    #footer div.social_icons {
        margin: auto;
    }
    #footer div.social_icons_inner {
        width: 156px; /* == 24 + [(20+24) * 3] */
        margin-left: auto;
        margin-right: auto;
    }
    #footer .left_icon {
        margin-left: 0px;
    }
    #footer .copyright {
        margin-top: 10px;
        text-align: center !important;
        min-height: 30px;
        /*width: 100%;*/
    }
    #footer .back_to_top {
        margin-top: 10px;
        text-align: center;
    }
}

/* ONLY USED FOR PROJECT NAV LINKS ON PROJECT PAGES! */
@media (max-width: 458px) {
    div.project_summary div.top_project_nav div.all_projects {
        /*margin-top: 0px;*/
        height: 22px;
    }
    div.project_summary div.top_project_nav {
        padding-bottom: 59px;
    }
    div.project_summary div.top_project_nav div.prev_project,
    div.project_summary div.top_project_nav div.next_project {
        margin-top: 37px;
        margin-bottom: -110px;
        clear: none;
        /*height: 22px;*/
    }   
    div.project_summary div.bottom_project_nav div.all_projects {
        margin-top: 51px;
        margin-bottom: 5px;
        height: 22px;
    }
    div.project_summary div.bottom_project_nav {
        padding-bottom: 3px;
    }
}

/* Icons
-------------------------------------------------- */
.i_bars, 
.i_bookmark, 
.i_chart, 
.i_cloud, 
.i_facebook, 
.i_loading, 
.i_movil, 
.i_shuffle, 
.i_twitter, 
.i_youtube{
    background: url('../img/icons.png') no-repeat;
    display: inline-block;
}
.i_bars{
    background-position: 0 -303px ;
    width: 18px;
    height: 16px;
}
.i_bookmark{
    background-position: 0 -253px ;
    width: 18px;
    height: 13px;
}
.i_chart{
    background-position: 0 -49px ;
    width: 22px;
    height: 24px;
}
.i_cloud{
    background-position: 0 0;
    width: 32px;
    height: 21px;
}
.i_facebook{
    background-position: 0 -401px ;
    width: 12px;
    height: 24px;
}
.i_loading{
    background-position: 0 -202px ;
    width: 21px;
    height: 14px;
}
.i_movil{
    background-position: 0 -99px ;
    width: 17px;
    height: 25px;
}
.i_shuffle{
    background-position: 0 -151px ;
    width: 18px;
    height: 12px;
}
.i_twitter{
    background-position: 0 -351px ;
    width: 24px;
    height: 18px;
}
.i_youtube{
    background-position: 0 -452px ;
    width: 24px;
    height: 23px;
}

/* Social icons
-------------------------------------------------- */
i.social {
    background: url('../img/social_icons.png') no-repeat 0 0;
    width: 33px;
    height: 33px;
    display: inline-block;
}
i.tw { background-position: 0px 0px; }
i.fb { background-position: -39px 0; }
i.flickr { background-position: -78px 0; }
i.in { background-position: -117px 0; }
i.gp { background-position: -156px 0; }
i.pin { background-position: -195px 0; }
i.tumblr { background-position: -233px 0; }
i.wp { background-position: 0 -51px; }
i.yt { background-position: -39px -51px; }
i.vim { background-position: -78px -51px; }
i.picasa { background-position: -116px -51px; }
i.forrst { background-position: -156px -51px; }
i.rss { background-position: -194px -51px; }
i.myspace { background-position: -233px -51px; }
