.top{
    width: 960px;
    height: 80px;
    margin : auto;
}
.menu{
  position: absolute;
    right: 0px;
    width: 500px;
    font-size: 18px;
}
 #center {
    margin-left:auto; 
    margin-right:auto;
  }
#pie{
    width: 560px;
    height: 280px;
    margin:60px auto 0 auto;
}
#sankey{
    width: 560px;
    margin : auto;
}
h1 {
    margin: 0.5em 0 0.1em;
    text-align: center;
}


table{
    height : 250px;
    border:1px solid black;
    border-collapse:collapse;
}
tr,th,td{
    border:1px solid black;
    font:20px sans-serif;
}

#pie text {
  font: 20px sans-serif;
  text-anchor: middle;
  color : black;
}

#pie path {
  stroke: #fff;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}
